<p style="color: green"><%= notice %></p>

<%= render @category %>

<% @category.posts.each do |post| %>
    <%= post.title %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
